@media (max-width : 600px) {

    .page1 nav .second a{
       display: none;
    }
    .page1 {
        height: 120%;
    }
    nav .first img{
        height: 7vw;
    }
    nav .first a{
        font-size: 3vw;
    }
    nav .second button{
        width: 20vw;
        height: 7vw;
        border-radius: 5vh;
        font-size: 3vw;
    }

    .page1-in {
        flex-direction: column-reverse
    }

    .page1-in .p1R img{
        width: 40%;
        margin-left: 0;
 
    }
    .page1-in .p1L h3{
        font-size: 5vw;
    }
    .page1-in .p1L {
        width: 100%;
        
    }
    .page1-in .p1L h1{
        font-size: 10vw;
    }
    .page1-in .p1L p{
        font-size: 2.5vw;
        line-height: 3vh;
        width: 100%;
        margin-bottom: 4vh;
    }

    .page1-in .p1L button{
        width: 35vw;
        font-size: 2.3vw;
    }
    .page1-in .p1L .idiv .i1,.i2,.i3,.i4{
        width: 6.5vw;
        height: 6.5vw;
    }
    .page1-in .p1L .idiv i{
        font-size: 3vw;
    }

    .page1-end{
        width: 100%;
        overflow:scroll;
    }
    .page1 .page1-end .e1{
        width: 120%;
        margin-top: 0;
    }

    .page1 .page1-end .e1 h1{
        font-size: 7.5vw;
        width: 100%;
        margin-right: 2vw;
    }
    .page1 .page1-end .e1 span{
        font-size: 3vw;
        margin-right: 4vw;
        width: 100%;
        
    }

    .page2{
       height: 65%;
    }
    .page2 .page2-f{
        
        height: 30vw;
    }
    .page2 .page2-f h1{
        font-size: 6vw;

    }
   
    .page2 .page2-f p{
       font-size: 2.7vw;
    }

    .page2 .div-s1{
        height: 7vh;
    }
    .div-s1 .divsL span{
        font-size: 4vw;
    }
    .div-s1 .divsL h1{
        font-size: 3vw;
    }
    .div-s1 .divsR p{
        font-size: 1.9vw;
    }
    .div-s1 .divsR i{
        font-size: 4vw;
    }


    


}

